@import "../../styles/utilities";

.passwordValidation {
  width: 90%;
  margin: 1em auto;

  ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}

.regexValid {
  color: #fdd05f;
}

.matchingPassword {
  color: transparent;
}
